<!DOCTYPE html>
<html>
<head>
  <title>ACTORS</title>
</head>
<body>

<h1>All the Actors!</h1>

<ul>
  <%actors.each do |actor|%>
  <li><a href="/actors/<%= actor['name'] %>"><%=actor['name']%></a></li>
  <%end%>
</ul>
<%unless page == 1%>
<a href="/actors?page=<%= page - 1 %>">PREVIOUS PAGE</a>
<%end%>

<%unless page >= last_page%>
<a href="/actors?page=<%= page + 1 %>">NEXT PAGE</a>
<%end%>

</body>
</html>
